.btn-bd-primary {
  --bs-btn-color: var(--bg-color);
  --bs-btn-bg: var(--color10);
  --bs-btn-border-color: var(--color10);
  --bs-btn-hover-color: var(--bg-color);
  --bs-btn-hover-bg: var(--txt-color);
}

h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b {
  margin-right: 3px;
}

.demo-app {
  display: flex;
  min-height: 100%;
  font-size: 14px;
}

.demo-app-main {
  flex-grow: 1;
  padding: 2em;
}

