<div id="landingPage">
  <app-nav-bar></app-nav-bar>

  <!-- Bienvenida y login con google-->
  <div id="bigContainer">
    <div id="presentacion">
      <h3 class="card-title">¡Bienvenido!</h3>
      <br>
      <h6 class="card-text">
        En nuestra página web, te ofrecemos las herramientas esenciales que necesitas para optimizar tu productividad y aprovechar al máximo cada momento. 
      </h6>
      <h6 class="card-text">
        No importa si eres un estudiante, profesional o simplemente alguien que busca maximizar su día, nuestro conjunto de servicios te ayudará a mantener un control total sobre tus actividades diarias.
      </h6>
      <h6 class="card-text">
        ¡Descubre cómo puedes transformar tu rutina y hacer que cada día cuente!
      </h6>
      <br>
      <app-login-comp id="login"></app-login-comp>
    </div>

    <app-accordion id="acordion"></app-accordion>
  </div>

  <app-footer></app-footer>
</div>
