#landingPage{
    min-height: 100%;
    position: relative;
    padding-top: 4em;
    padding-bottom: 2.5em;
    min-width: 45em;
    overflow: auto;
    background-color: var(--color5);
}

#presentacion{
    display: inline-block;
    width: 25%;
    min-width: 10em;
    height: auto;
    margin: 4vw 4vw 2vw 5vw;
    vertical-align: top;
    text-align: center;
}

.card-title{
    color: var(--bg-color);
    font-size: calc(1em + 1vw);
}

.card-text{
    color: var(--bg-color);
    font-size: calc(0.5em + 0.5vw);
}

#acordion{
    display: inline-block;
    float: right;
}

#login{
    display: inline-block;
}
