<div id="timerPage">
<app-nav-bar [isUser]="true"></app-nav-bar>

<div class="card">

  <section class="position" [@pageNumber]="pageNumber">

    <div class="flex">
      <h1 class="title">Tiempo de trabajo</h1>
      <div class="counter">
        <button (click)="decreaseFocusTime()" [disabled]="minFocusReached">-</button>
        <div class="duration">{{workDuration}}</div>
        <button (click)="increaseFocusTime()" [disabled]="maxFocusReached">+</button>
      </div>
      <button (click)="toggle('two')">Siguiente</button>
    </div>

    <div class="flex">
      <h1 class="title">Tiempo de descanso</h1>
      <div class="counter">
        <button (click)="decreaseBreakTime()" [disabled]="minBreakReached">-</button>
        <div class="duration">{{breakDuration}}</div>
        <button (click)="increaseBreakTime()" [disabled]="maxBreakReached">+</button>
      </div>
      <div class="buttons">
        <button (click)="toggle('one')">Atrás</button>
        <button (click)="toggle('three')">Siguiente</button>
      </div>
    </div>

    <div class="flex">
      <h1 class="title">Cantidad de ciclos</h1>
      <div class="counter">
        <button (click)="decreaseTotalCycles()" [disabled]="minCycles">-</button>
        <div class="duration">{{totalCycles}}</div>
        <button (click)="increaseTotalCycles()" [disabled]="maxCycles">+</button>
      </div>
      <div class="buttons">
        <button (click)="toggle('two')">Atrás</button>
        <button (click)="toggle('four')">Siguiente</button>
      </div>
    </div>

    <div class="flex">
      <h1 class="title">{{stage}}</h1>
      <div class="counter">
        <div class="duration">{{minutes | number: '2.'}}:{{seconds | number: '2.'}}</div> <!-- Formato para mostrar números de dos dígitos: {{nombreVariable | number: '2.'}} -->
      </div>
      <div *ngIf="!running" class="buttons">
        <button (click)="toggle('three')">Atrás</button>
        <button (click)="start()">Comenzar</button>
      </div>
      <div *ngIf="running" class="buttons">
        <button *ngIf="!paused" (click)="interrupt()">Pausar ⏸</button>
        <button *ngIf="paused" (click)="resume()">Reanudar ▶️</button>
        <button (click)="clear()">Detener ⏹️</button>
      </div>
    </div>

  </section>
  
</div>

<app-footer></app-footer>
</div>

