#errorContainer{
    margin-top: 5em;
}

#gatito{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.texto{
    text-align: center;
    color: var(--txt-color);
}

.btn-bd-primary {
    --bs-btn-color: var(--bg-color);
    --bs-btn-bg: var(--color10);
    --bs-btn-border-color: var(--color10);
    --bs-btn-hover-color: var(--bg-color);
    --bs-btn-hover-bg: var(--txt-color);
}

#boton{
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}