 <div id="tasks-container">
  <app-nav-bar [isUser]="true"></app-nav-bar>

 <!--Listas de tareas--> 
  <div class="card">
    
  <!--Titulo principal y boton de agregar (+) -->  
  <div id="principal">
      <h1 class="title" id="task-title" >Mis tareas</h1>
      <button class="btn btn-bd-primary" type="button" data-bs-target="#add-task" data-bs-toggle="modal" id="botonAgregar">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="44" height="44" viewBox="0 0 24 24" stroke-width="2" stroke="#f0fbfa" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 5l0 14" />
        <path d="M5 12l14 0" />
      </svg>
    </button>
    </div>

    <!-- Modal para agregar tarea -->
    <div class="modal fade" id="add-task" tabindex="-1" aria-labelledby="add-task-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="add-task-label">Agregar tarea</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form [formGroup]="taskForm">
              <div class="modal-body">
    
                <label class="col-form-label">Título:</label>
                <input class="form-control" formControlName="title" />
    
                <label class="col-form-label">Descripción:</label>
                <input class="form-control" formControlName="description" />

                  <div class="modal-footer">
                    <button class="btn btn-bd-primary" type="button" (click)="addTask()" id="button" [disabled]="taskForm.invalid" data-bs-dismiss="modal">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  </div>

              </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal para editar tarea -->
    <div class="modal fade" id="edit-task1" tabindex="-1" aria-labelledby="edit-task-label1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="edit-task-label1">Editar tarea</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form [formGroup]="editForm">
              <div class="modal-body">
    
                <label class="col-form-label">Título:</label>
                <input class="form-control" formControlName="title" />
    
                <label class="col-form-label">Descripción:</label>
                <input class="form-control" formControlName="description" />

                  <div class="modal-footer">
                      <button type="submit" class="btn btn-bd-primary" data-bs-dismiss="modal" (click)="acceptChanges()" [disabled]="editForm.invalid">Guardar</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  </div>

              </div>
          </form>
        </div>
      </div>
    </div>

  <!-- Modal para eliminar tarea -->
  <div class="modal fade" id="deleteTaskModal" tabindex="-1" aria-labelledby="deleteTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteEventModalLabel">Eliminar tarea</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <div class="modal-body">
                <p>Esta seguro que quiere eliminar esta tarea?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" (click)="deleteTask()" class="btn btn-bd-primary" data-bs-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
      </div>
    </div>
  </div>

  <hr id="category-division" *ngIf="toDoExist()">  

  <!--Lista de tareas pendientes--> 
  <ul>
      <h1 class="title" *ngIf="toDoExist()">Pendientes</h1>
      <div *ngFor="let task of tasks">
        <ng-container *ngIf="task.state === 'todo'">
         <hr id="task-division">
         <div class="task-style">
          <div class="tareaDesc">
            <div id="tareaTit">{{ task.title }}</div>
            {{ task.description }}
          </div>
            <button class="btn btn-bd-primary" type="button" id="botonEnProceso" (click)="markAsInCourse(task)"> 
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-progress-check" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="#f0fbfa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 20.777a8.942 8.942 0 0 1 -2.48 -.969" />
                <path d="M14 3.223a9.003 9.003 0 0 1 0 17.554" />
                <path d="M4.579 17.093a8.961 8.961 0 0 1 -1.227 -2.592" />
                <path d="M3.124 10.5c.16 -.95 .468 -1.85 .9 -2.675l.169 -.305" />
                <path d="M6.907 4.579a8.954 8.954 0 0 1 3.093 -1.356" />
                <path d="M9 12l2 2l4 -4" />
              </svg>
            </button>
            <button class="btn btn-bd-primary" type="button" id="botonCompletada" (click)="markAsCompleted(task)"> 
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="#f0fbfa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </button>
            <button class="btn btn-bd-primary" type="button" id="botonEditar" data-bs-target="#edit-task1" data-bs-toggle="modal" (click)="editTask(task)">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f0fbfa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                <path d="M13.5 6.5l4 4" />
              </svg>
              </button>
            <button class="btn btn-bd-primary" type="button" id="botonEliminar" data-bs-target="#deleteTaskModal" data-bs-toggle="modal" (click)="getIdToDelete(task.id)">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f0fbfa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 7l16 0" />
                <path d="M10 11l0 6" />
                <path d="M14 11l0 6" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
            </button>
        </div>
        </ng-container>
      </div>
    </ul>

    <hr id="category-division" *ngIf="inCourseExist()">

    <!--Lista de tareas en proceso--> 
    <ul>
      <h1 class="title" *ngIf="inCourseExist()">En proceso</h1>
      <div *ngFor="let task of tasks">
        <ng-container *ngIf="task.state === 'inCourse'">
            <hr id="task-division">
            <div class="task-style">
              <div class="tareaDesc">
                <div id="tareaTit">{{ task.title }}</div>
                {{ task.description }}
              </div>
              <button class="btn btn-bd-primary" type="button" id="botonEnProceso" (click)="markAsToDo(task)"> 
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="#f0fbfa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                  <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                </svg>
              </button>
              <button class="btn btn-bd-primary" type="button" id="botonCompletada" (click)="markAsCompleted(task)">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="#f0fbfa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M5 12l5 5l10 -10" />
                </svg>
              </button>
              <button class="btn btn-bd-primary" type="button" id="botonEditar" data-bs-target="#edit-task1" data-bs-toggle="modal" (click)="editTask(task)">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f0fbfa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                  <path d="M13.5 6.5l4 4" />
                </svg>
              </button>
              <button class="btn btn-bd-primary" type="button" id="botonEliminar" data-bs-target="#deleteTaskModal" data-bs-toggle="modal" (click)="getIdToDelete(task.id)">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f0fbfa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M4 7l16 0" />
                  <path d="M10 11l0 6" />
                  <path d="M14 11l0 6" />
                  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                </svg>
              </button>
            </div> 
        </ng-container>
      </div>
    </ul>

    <hr id="category-division" *ngIf="completedExist()">

    <!--Lista de tareas completadas--> 
    <ul>
      <h1 class="title" *ngIf="completedExist()">Completadas</h1>
      <div *ngFor="let task of tasks">
        <ng-container *ngIf="task.state === 'completed'">
          <hr id="task-division">
          <div class="task-style">
            <div class="tareaDesc">
              <div id="tareaTit">{{ task.title }}</div>
              {{ task.description }}
            </div>
            <button class="btn btn-bd-primary" type="button" id="botonEnProceso" (click)="markAsToDo(task)"> 
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="#f0fbfa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
              </svg>
            </button>
            <button class="btn btn-bd-primary" type="button" id="botonCompletada" (click)="markAsInCourse(task)">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-progress-check" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="#f0fbfa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 20.777a8.942 8.942 0 0 1 -2.48 -.969" />
                <path d="M14 3.223a9.003 9.003 0 0 1 0 17.554" />
                <path d="M4.579 17.093a8.961 8.961 0 0 1 -1.227 -2.592" />
                <path d="M3.124 10.5c.16 -.95 .468 -1.85 .9 -2.675l.169 -.305" />
                <path d="M6.907 4.579a8.954 8.954 0 0 1 3.093 -1.356" />
                <path d="M9 12l2 2l4 -4" />
              </svg>
            </button>
            <button class="btn btn-bd-primary" type="button" id="botonEditar" data-bs-target="#edit-task1" data-bs-toggle="modal" (click)="editTask(task)">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f0fbfa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                <path d="M13.5 6.5l4 4" />
              </svg>
            </button>
            <button class="btn btn-bd-primary" type="button" id="botonEliminar" data-bs-target="#deleteTaskModal" data-bs-toggle="modal" (click)="getIdToDelete(task.id)">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f0fbfa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 7l16 0" />
                <path d="M10 11l0 6" />
                <path d="M14 11l0 6" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
            </button>
          </div>
        </ng-container>
      </div>
    </ul>

  </div>
  
  <app-task-help></app-task-help>
  <app-footer></app-footer>
</div>
