#tasks-container{
    background-color: var(--color3);
    background-image: url("/assets/bgitasks.png");
    background-size: 600px;
    min-height: 100%;
    position: relative;
    padding-bottom: 2.5em;
    padding-top: 4em;
}

.spinner-border{
    color: var(--color10);
}

.card{
    background-color: var(--bg-color);
    max-width: 65rem;
    width: 100%;
    margin: 3em auto 3em auto;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid rgb(170, 191, 194);
    height: auto;
    padding: 1em;
    box-shadow:  1px 1px 9px 1px rgb(150, 150, 150);
}

#category-division{
    border-style: solid;
    border-width: 1.7px;
}

#task-division{
    border-style: dashed;
    border-width: 1.5px;
    margin-right: 2em;
}

#principal{
    display: grid;
    grid-template-areas: "title button";
    grid-template-columns: 50% 50%;
}

#task-title{
    grid-area: title;
    align-self: center;
    justify-self: left;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color9);
    margin-left: 30px;
}

#botonAgregar{
    grid-area: button;
    align-self: center;
    justify-self: right;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 25px;
}

.title{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--txt-color);
}

.btn-bd-primary {
    --bs-btn-color: var(--bg-color);
    --bs-btn-bg: var(--color8);
    --bs-btn-border-color: var(--color9);
    --bs-btn-hover-color: var(--bg-color);
    --bs-btn-hover-bg: var(--txt-color);
}

.task-style{
    margin-right: 2em;
    display: grid;
    grid-template-areas: "tarea enProceso completada editar eliminar";
    grid-template-columns: 55% 15% 10% 10% 10%;
}

.tareaDesc{
    font-size: 1.2rem;
    grid-area: tarea;
    justify-self: left;
    align-self: center;
    width: 550px;
}

#tareaTit{
    font-weight: 600;
}

#botonEditar{
    grid-area: editar;
    justify-self: right;
    align-self: center;
}

#botonEliminar{
    grid-area: eliminar;
    justify-self: right;
    align-self: center;
}

#botonEnProceso{
    grid-area: enProceso;
    justify-self: right;
    align-self: center;
}

#botonCompletada{
    grid-area: completada;
    justify-self: right;
    align-self: center;
}