button{
    border-radius: 50px;
    width: auto;
    height: 2.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(35, 35, 35);
    box-shadow:  1px 1px 10px 1px rgb(150, 150, 150);
}