<div class="card" id="card1">
    <div class="row g-0">
      <div class="col-md-4" id="contImg1">
        <img src="assets/calendarioTareas.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Calendario y Listas de tareas</h5>
          <p class="card-text">Organiza tus eventos y tareas diarias</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          <button type="button" class="btn btn-light" >Ir...</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card" id="card2">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Gestor de archivos y TTS</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-light" >Ir...</button>
          </div>
      </div>
      <div class="col-md-4" id="contImg2">
        <img src="assets/carpetaTTS1.png" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>

  <div class="card" id="card3">
    <div class="row g-0">
      <div class="col-md-4" id="contImg3">
        <img src="assets/tiempo.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Temporizador</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          <button type="button" class="btn btn-light" >Ir...</button>
        </div>
      </div>
    </div>
  </div>
