#container{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 60px 40px 60px;
    align-items: center;
    justify-content: space-evenly;
    gap: 5em;
}

h4 {
    color: var(--color10);
}

p {
    color: var(--txt-color);
}

.card{

    width: 25rem;
    height: 510px;
    border-radius: 50px;
    box-shadow:  1px 1px 10px 1px rgb(100, 100, 100);
    transition: all .2s ease-in-out;
}

#card1{
    background-color: var(--color5);
}

#card2{
    background-color: var(--color6);
}

#card3{
    background-color: var(--color4);
}

#card4{
    background-color: var(--color6);
}

#card1:hover{
    background-color: var(--color7);
}

#card2:hover{
    background-color: var(--color7);
}

#card3:hover{
    background-color: var(--color7);
}

#card4:hover{
    background-color: var(--color7);
}

.card:hover{
    transform: scale(1.06); 
}

.card:hover h4{
    color: var(--bg-color);
}

.card:hover p{
    color: var(--bg-color);
}

img{
    margin: 10px auto 0px auto;
    width: 250px;
}

#img1{
    width: 270px;
}

a{
    font-weight: 600;
}

.btn-bd-primary {
    --bs-btn-bg: var(--bg-color);
    --bs-btn-border-color: var(--bg-color);
    --bs-btn-hover-bg: rgb(170, 170, 170);
    box-shadow:  1px 1px 10px 1px rgb(100, 100, 100);
}