<div class="card" id="card1">
    <div class="row g-0">
      <div class="col-md-4" id="contImg1">
        <img src="assets/calendario.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body" id="cardBody1">
          <h3 class="card-title">Calendario</h3>
          <h5 class="card-text">Mantén un seguimiento de tus eventos, reuniones importantes y fechas clave. Puedes agregar, modificar y eliminar eventos de manera rápida y sencilla. Visualiza tus eventos de forma clara y organizada.</h5>
          <br>
          <a class="btn btn-light" role="button" routerLink="/calendar">Ver calendario</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card" id="card2">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body" id="cardBody2">
            <h3 class="card-title">Lista de tareas</h3>
            <h5 class="card-text">Mantén un control de tus actividades a realizar. Marca tus tareas como "En Proceso" mientras trabajas en ellas y cámbialas a "Completadas" cuando finalices. </h5>
            <br>
            <a class="btn btn-light" role="button" routerLink="/tasks">Ver mis tareas</a>
          </div>
      </div>
      <div class="col-md-4" id="contImg2">
        <img src="assets/toDo.png" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>

  <div class="card" id="card3">
    <div class="row g-0">
      <div class="col-md-4" id="contImg3">
        <img src="assets/tiempo.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body" id="cardBody3">
          <h3 class="card-title">Temporizador</h3>
          <h5 class="card-text">Optimiza tu enfoque y rendimiento. Basado en la técnica de gestión del tiempo Pomodoro, este temporizador te ayuda a mantenerte enfocado durante períodos de trabajo intensivo. Establece intervalos de trabajo, descanso, ajusta la duración según tus preferencias y experimenta un aumento en tu productividad.</h5>
          <br>
          <a class="btn btn-light" role="button" routerLink="/timer">Comenzar</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="card" id="card4">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Gestor de archivos y TTS</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-light" >Ir...</button>
          </div>
      </div>
      <div class="col-md-4" id="contImg2">
        <img src="assets/carpetaTTS1.png" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div> -->
