<!--Tarjetas de funcionalidad para ingresar a cada parte de la pagina -->
<div id="container">

  <!-- Card 1: Calendario -->
  <div class="card mb-3" id="card1">
    <div class="row g-0">
      <div class="col-md-5 d-flex align-items-center">
        <img src="assets/calendario.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-7 d-flex align-items-center">
        <div class="card-body">
          <h4 class="card-title">Calendario</h4>
          <p class="card-text">Mantén un seguimiento de tus eventos, reuniones importantes y fechas clave. Puedes agregar, modificar y eliminar eventos de manera rápida y sencilla. Visualiza tus eventos de forma clara y organizada.</p>
          <a class="btn btn-bd-primary" role="button" routerLink="/calendar">Ver calendario</a>
        </div>
      </div>
    </div>
  </div>

  <!--Card 2: Tareas -->
  <div class="card mb-3" id="card2">
    <div class="row g-0">
      <div class="col-md-5 d-flex align-items-center">
        <img src="assets/toDo.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-7 d-flex align-items-center">
        <div class="card-body">
          <h4 class="card-title">Lista de tareas</h4>
          <p class="card-text">Mantén un control de tus actividades a realizar. Marca tus tareas como "En Proceso" mientras trabajas en ellas y cámbialas a "Completadas" cuando finalices.</p>
          <a class="btn btn-bd-primary" role="button" routerLink="/tasks">Ver mis tareas</a>
        </div>
      </div>
    </div>
  </div>

  <!--Card 3: Temporizador -->
  <div class="card mb-3" id="card3">
    <div class="row g-0">
      <div class="col-md-5 d-flex align-items-center">
        <img src="assets/tiempo.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-7 d-flex align-items-center">
        <div class="card-body">
          <h4 class="card-title">Temporizador</h4>
          <p class="card-text">Basado en la técnica Pomodoro, este temporizador te ayuda a mantenerte enfocado. Establece intervalos de trabajo, descanso, ajusta la duración según tus preferencias y experimenta un aumento en tu productividad.</p>
          <a class="btn btn-bd-primary" role="button" routerLink="/timer">Comenzar</a>
        </div>
      </div>
    </div>
  </div>

  <!--Card 4: Archivos -->
  <div class="card mb-3" id="card4">
    <div class="row g-0">
      <div class="col-md-5 d-flex align-items-center">
        <img src="assets/carpeta.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-7 d-flex align-items-center">
        <div class="card-body">
          <h4 class="card-title">Archivos</h4>
          <p class="card-text">Accede a tus documentos y archivos importantes de manera rápida y sencilla. Organiza y visualiza tus archivos de forma clara para un fácil acceso.</p>
          <a class="btn btn-bd-primary" role="button" routerLink="/files">Ver mis archivos</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 1: Calendario
  <div class="card text-center" id="card1">
    <img id="img1" src="assets/calendario.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">Calendario</h4>
      <p class="card-text">Mantén un seguimiento de tus eventos, reuniones importantes y fechas clave. Puedes agregar, modificar y eliminar eventos de manera rápida y sencilla. Visualiza tus eventos de forma clara y organizada.</p>
      <a class="btn btn-bd-primary" role="button" routerLink="/calendar">Ver calendario</a>
    </div>
  </div> -->

  <!--Card 2: Tareas
  <div class="card text-center" id="card2">
    <img src="assets/toDo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">Lista de tareas</h4>
      <p class="card-text">Mantén un control de tus actividades a realizar. Marca tus tareas como "En Proceso" mientras trabajas en ellas y cámbialas a "Completadas" cuando finalices.</p>
      <a class="btn btn-bd-primary" role="button" routerLink="/tasks">Ver mis tareas</a>
    </div>
  </div> -->

  <!--Card 3: Temporizador
  <div class="card text-center" id="card3">
    <img src="assets/tiempo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">Temporizador</h4>
      <p class="card-text">Basado en la técnica Pomodoro, este temporizador te ayuda a mantenerte enfocado durante períodos de trabajo. Establece intervalos de trabajo, descanso, ajusta la duración según tus preferencias y experimenta un aumento en tu productividad.</p>
      <a class="btn btn-bd-primary" role="button" routerLink="/timer">Comenzar</a>
    </div>
  </div> -->

  <!--Card 4: Archivos
  <div class="card text-center" id="card4">
    <img src="assets/carpeta.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">Archivos</h4>
      <p class="card-text">Accede a tus documentos y archivos importantes de manera rápida y sencilla. Organiza y visualiza tus archivos de forma clara para un fácil acceso.</p>
      <a class="btn btn-bd-primary" role="button" routerLink="/files">Ver mis archivos</a>
    </div>
  </div>
  -->

</div>
