#card1, #card2, #card3{
    max-width: 100%;
    height: 20em;
    border-radius: 0px;
    display: block;
}

#card1{
    background-color: var(--light-green);
}

#card2{
    background-color: var(--lila2);
}

#card3{
    background-color: var(--light-pink);
}

#contImg1, #contImg2, #contImg3{
    margin-left: auto;
    margin-right: auto;
}

#contImg1{
    margin-top: 8px;
    max-width: 19em;
}

#contImg2{
    margin-top: 18px;
    max-width: 17.5em;
}

#contImg3{
    margin-top: 18px;
    max-width: 17.5em;
}

#cardBody2{
    margin-left: 30px;
    margin-top: 20px;
}

#cardBody1, #cardBody3{
    margin-right: 25px;
    margin-top: 20px;
}

h3, p{
    color: var(--txt-color);
}

h5{
    color: var(--color10);
}

