<div class="container">
  <div class="card active">
    <img class="background" src="assets/calendario.png" alt="" />

    <div class="card-content">
      <div class="profile-image">
        <img class="icon" src="assets/glasses.svg" alt=""/>
      </div>

      <h3 class="title">Calendario</h3>
    </div>
    <div class="backdrop"></div>
  </div>

  <div class="card">
    <img class="background" src="assets/toDo.png" alt="" />

    <div class="card-content">
      <div class="profile-image">
        <img class="icon" src="assets/glasses.svg" alt=""/>
      </div>

      <h3 class="title">Listas de tareas</h3>
    </div>
    <div class="backdrop"></div>
  </div>

  <div class="card">
    <img class="background" src="" alt="" />

    <div class="card-content">
      <div class="profile-image">
        <img class="icon" src="assets/glasses.svg" alt=""/>
      </div>

      <h3 class="title">Gestor de archivos</h3>
    </div>
    <div class="backdrop"></div>
  </div>

  <div class="card">
    <img class="background" src="" alt="" />

    <div class="card-content">
      <div class="profile-image">
        <img class="icon" src="assets/glasses.svg" alt=""/>
      </div>

      <h3 class="title">Temporizador</h3>
    </div>
    <div class="backdrop"></div>
  </div>

  <div class="card">
    <img class="background" src="" alt="" />

    <div class="card-content">
      <div class="profile-image">
        <img class="icon" src="assets/glasses.svg" alt=""/>
      </div>

      <h3 class="title">Lectura en voz alta</h3>
    </div>
    <div class="backdrop"></div>
  </div>
</div>
