<!--Acordeon interactivo para mostrar funcionalidades -->
<div class="container">
  
  <!--Card 1: Calendario-->
  <div class="card active">
    <img class="background" src="assets/calendario.png" alt="" />

    <div class="card-content">
      <div class="profile-image">
        <img class="icon" src="assets/glasses.svg" alt=""/>
      </div>

      <div class="texto">
        <h3 class="title">Calendario</h3>
        <h6 class="card-text">Organiza tus eventos y tiempo con eficiencia</h6>
      </div>
      
    </div>
    <div class="backdrop"></div>
  </div>

  <!--Card 2: Tareas-->
  <div class="card">
    <img class="background" src="assets/toDo.png" alt="" />

    <div class="card-content">
      <div class="profile-image">
        <img class="icon" src="assets/glasses.svg" alt=""/>
      </div>

      <div class="texto">
        <h3 class="title">Lista de tareas</h3>
        <h6 class="card-text">Organiza tus actividades de manera fácil y rápida</h6>
      </div>
    </div>
    <div class="backdrop"></div>
  </div>

  <!--Card 3: Temporizador-->
  <div class="card">
    <img class="background" src="assets/tiempo.png" alt="" />

    <div class="card-content">
      <div class="profile-image">
        <img class="icon" src="assets/glasses.svg" alt=""/>
      </div>

      <div class="texto">
        <h3 class="title">Temporizador</h3>
        <h6 class="card-text">Maximiza tu enfoque con la técnica Pomodoro</h6>
      </div>
    </div>
    <div class="backdrop"></div>
  </div>

  <!--Card 4: Archivos-->
  <div class="card">
    <img class="background" src="assets/carpeta.png" alt="" />

    <div class="card-content">
      <div class="profile-image">
        <img class="icon" src="assets/glasses.svg" alt=""/>
      </div>

      <div class="texto">
        <h3 class="title">Archivos</h3>
        <h6 class="card-text">Visualiza tus documentos importantes fácilmente</h6>
      </div>
    </div>
    <div class="backdrop"></div>
  </div>
</div>