
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  width: 35px;
  color: var(--txt-color);
}

.background {
  width: 20.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  position: absolute;
  z-index: 1;
}

.container {
  height: 420px;
  width: 800px;
  gap: 10px;
  display: flex;
  margin: 4em 0 0 5em;
}

.card {
  min-width: 72px;
  height: 100%;
  border-radius: 30px;
  
  overflow: hidden;
  
  background-color: #c9cef5;

  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 0;

  --transition-timing: 0.25s;

  box-shadow:  1px 1px 10px 1px rgb(150, 150, 150);
}

.card.active {
  flex-grow: 100;
}

.card > .background {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: left;
  filter: brightness(0.6);
  z-index: -1;
  transition: var(--transition-timing) ease;
}

.card.active > .background {
  filter: brightness(1) grayscale(0);
}

.card > .card-content {
  display: flex;
  align-items: center;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 20px;
  overflow: hidden;
  transition: var(--transition-timing);
  z-index: 10;
}

.card-content > .texto {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-bottom: 5px;
  white-space: pre;
  translate: 0 100%;
  opacity: 0;
  transition-delay: 0.3s;
  color: var(--txt-color);
}

.card.active .texto {
  opacity: 1;
  translate: 0 0;
}

.card.active > .card-content {
  inset: 20px;
  top: auto;
}

.card-content * {
  transition: var(--transition-timing);
}

.card-content > .profile-image {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  border: 1px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.card.active .profile-image {
  border: 1px solid var(--txt-color);
}
.profile-image > svg {
  stroke: var(--bg-color);
}
.card.active .profile-image > svg {
  stroke: var(--txt-color);
}

.card-content > .title {
  white-space: pre;
  margin-left: 10px;
  translate: 0 100%;
  opacity: 0;
  transition-delay: 0.3s;
  color: var(--txt-color);
}

.card.active .title {
  opacity: 1;
  translate: 0 0;
}

.card > .backdrop {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90px;
  z-index: 0;
  background: linear-gradient(to bottom, transparent, var(--color7));
}
