
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 55vw;
  height: 31vw;
  gap: 10px;
  display: flex;
  margin: 4vw 5vw 2vw 4vw;
}

.background {
  width: 24vw; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 2vw;
  position: absolute;
  z-index: 1;
}

.icon {
  width: 3vw;
  color: var(--txt-color);
}

.card {
  min-width: 5.3vw;
  height: 100%;
  border-radius: 30px;
  
  overflow: hidden;
  
  background-color: #c9cef5;

  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 0;

  --transition-timing: 0.25s;

  box-shadow:  1px 1px 10px 1px rgb(150, 150, 150);

  .background {
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: left;
    filter: brightness(0.6);
    z-index: -1;
    transition: var(--transition-timing) ease;
  }

  .card-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0.7vw;
    right: 0.7vw;
    bottom: 1.5vw;
    overflow: hidden;
    transition: var(--transition-timing);
    z-index: 10;
  }

  .backdrop {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 7vw;
    z-index: 0;
    background: linear-gradient(to bottom, transparent, var(--color7));
  }
}

.card.active {
  flex-grow: 100;

  .background {
    filter: brightness(1) grayscale(0);
  }

  .card-content {
    inset: 1.5vw;
    top: auto;

    .texto {
      opacity: 1;
      translate: 0 0;

      .title {
        opacity: 1;
        translate: 0 0;
        font-size: 2vw;
      }
  
      .card-text{
        font-size: 1.3vw;
      }
    }
  }
}

.card-content * {
  transition: var(--transition-timing);
}

.card-content {

  .profile-image {
    min-width: 3.7vw;
    max-width: 3.7vw;
    height: 3.7vw;
    border: 1px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
  }

  .texto {
    display: flex;
    flex-direction: column;
    margin-left: 1.5vw;
    margin-bottom: 0.4vw;
    white-space: pre;
    translate: 0 100%;
    opacity: 0;
    transition-delay: 0.3s;
    color: var(--txt-color);
  }
}

.card-content > .title {
  white-space: pre;
  translate: 0 100%;
  opacity: 0;
  transition-delay: 0.3s;
  color: var(--txt-color);
}

.card.active .profile-image {
  border: 1px solid var(--txt-color);
}
.profile-image > svg {
  stroke: var(--bg-color);
}
.card.active .profile-image > svg {
  stroke: var(--txt-color);
}