<div class="container">
  <div class="card active">
    <img class="background" src="assets/calendario.png" alt="" />

    <div class="card-content">
      <div class="profile-image">
        <img class="icon" src="assets/glasses.svg" alt=""/>
      </div>

      <div class="texto">
        <h3 class="title">Calendario</h3>
        <p>With supporting text below as a natural.</p>
      </div>
      
    </div>
    <div class="backdrop"></div>
  </div>

  <div class="card">
    <img class="background" src="assets/toDo.png" alt="" />

    <div class="card-content">
      <div class="profile-image">
        <img class="icon" src="assets/glasses.svg" alt=""/>
      </div>

      <div class="texto">
        <h3 class="title">Listas de tareas</h3>
        <p>With supporting text below as a natural.</p>
      </div>
    </div>
    <div class="backdrop"></div>
  </div>

  <div class="card">
    <img class="background" src="assets/carpeta.png" alt="" />

    <div class="card-content">
      <div class="profile-image">
        <img class="icon" src="assets/glasses.svg" alt=""/>
      </div>
      
      <div class="texto">
        <h3 class="title">Gestor de archivos</h3>
        <p>With supporting text below as a natural.</p>
      </div>
    </div>
    <div class="backdrop"></div>
  </div>

  <div class="card">
    <img class="background" src="assets/tiempo.png" alt="" />

    <div class="card-content">
      <div class="profile-image">
        <img class="icon" src="assets/glasses.svg" alt=""/>
      </div>

      <div class="texto">
        <h3 class="title">Temporizador</h3>
        <p>With supporting text below as a natural.</p>
      </div>
    </div>
    <div class="backdrop"></div>
  </div>

  <div class="card">
    <img class="background" src="assets/microfono.png" alt="" />

    <div class="card-content">
      <div class="profile-image">
        <img class="icon" src="assets/glasses.svg" alt=""/>
      </div>

      <div class="texto">
        <h3 class="title">Lectura en voz alta</h3>
        <p>With supporting text below as a natural.</p>
      </div>
    </div>
    <div class="backdrop"></div>
  </div>
</div>
