<div>
  <h2>Seleccionar Archivo</h2>
  <select [(ngModel)]="archivoSeleccionado" (change)="seleccionarArchivo()">
    <option *ngFor="let archivo of archivos" [ngValue]="archivo">{{ archivo.name }}</option>
  </select>
  <div *ngIf="archivoSeleccionado">
    <h3>Archivo Seleccionado</h3>
    <p>{{ archivoSeleccionado.name }}</p>
  </div>
</div>

<div *ngIf="archivoSeleccionado">
  <div *ngIf="fileContent">
      <iframe [src]="fileContent" width="100%" height="600px"></iframe>
  </div>
  <div *ngIf="!fileContent">
    Cargando archivo...
  </div>
</div>


