#dropdown{
    color: var(--bg-color);
}

#imgUser{
    width: 48px;
    border-radius: 50%;
    box-shadow:  1px 1px 10px 1px rgb(120, 120, 120);
    margin-right: 5px;
}

ul{
    background-color: var(--color2); 
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    filter: drop-shadow(rgb(100, 100, 100) 1px 1px 2px);
}

li{
    color: var(--txt-color); 
    padding-bottom: 15px;
}

#imgUser2{
    width: 95px;
    border-radius: 50%;
    box-shadow:  1px 1px 10px 1px rgb(150, 150, 150);
}

#botonCS{
    border-radius: 20px;
    box-shadow:  1px 1px 10px 1px rgb(150, 150, 150);
}

.btn-bd-primary {
    --bs-btn-color: var(--bg-color);
    --bs-btn-bg: var(--color10);
    --bs-btn-border-color: var(--color10);
    --bs-btn-hover-color: var(--bg-color);
    --bs-btn-hover-bg: var(--txt-color);
}