footer{
    background-color: var(--color9);
    height: 2.5em;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

div{
    color: var(--bg-color);
    font-size: medium;
    padding: 0.4em;
}
