footer{
    background-color: var(--color9);
    height: 2.5em;
    width: 100%;
    position: absolute;
    bottom: 0px;
    box-shadow: 0 -3px 3px -3px rgb(100, 100, 100);
}

div, a{
    color: var(--color3);
    font-size: medium;
    padding: 0.4em;
}

a:hover{
    color: var(--color5);
}
