
<nav class="fixed-top" role="navigation">

  <div *ngIf="isUser" id="menuToggle" class="ocultar">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a routerLink="/main"><li>Inicio</li></a>
      <a routerLink="/calendar"><li>Calendario</li></a> 
      <a routerLink="/tasks"><li>Lista de tareas</li></a>
      <a routerLink="/timer"><li>Temporizador</li></a>
  
    </ul>
  </div>

  <img id="logotipo" src="assets/studyroomlogo2.png" alt="" />

  <app-user-acc *ngIf="isUser" id="usuario"></app-user-acc>

</nav>

<router-outlet></router-outlet>
