<!--Barra de navegacion y hamburguesa-->
<nav class="fixed-top" role="navigation">

  <!--Hamburguesa-->
  <div *ngIf="isUser" id="menuToggle" class="ocultar">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a routerLink="/main"><li>Inicio</li></a>
      <a routerLink="/calendar"><li>Calendario</li></a> 
      <a routerLink="/tasks"><li>Lista de tareas</li></a>
      <a routerLink="/timer"><li>Temporizador</li></a>
      <a routerLink="/files"><li>Archivos</li></a>
    </ul>
  </div>

  <!--Logo-->
  <img id="logotipo" src="assets/studyroomlogo2.png" alt="" />

  <app-user-acc id="usuario"></app-user-acc>
  <app-login-comp *ngIf="!isUser" id="usuario"></app-login-comp>

</nav>

<router-outlet></router-outlet>
